@model ConferenceScheduler.Data.Models.Conference[]

<h1>All Conference</h1>

<hr />


<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Venue.Name</td>
            <td>@item.StartTime</td>
            <td>@item.EndTime</td>
        </tr>
    }
</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
      