@model ConferenceScheduler.Data.Models.Conference[]

<h3><center>Future Conferences</center></h3>

<hr />

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Start</th>
        <th>End</th>
        <th>Details</th>
    </tr>

    @foreach (var item in Model)
    {
        @if (@item.StartTime > DateTime.UtcNow)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Venue.Name</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>
                    <div class="button-holder">
                        <a href="/Conference/Details/@item.Id" class="btn btn-info text-uppercase">Details</a>
                    </div>
                </td>
            </tr>
        }
    }
</table>

<hr />

<h3><center>Past Conferences</center></h3>

<hr />

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Start</th>
        <th>End</th>
        <th>Details</th>
    </tr>

    @foreach (var item in Model)
    {
        @if (@item.StartTime < DateTime.UtcNow)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Venue.Name</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>
                    <div class="button-holder">
                        <a href="/Conference/Details/@item.Id" class="btn btn-info text-uppercase">Details</a>
                    </div>
                </td>
            </tr>
        }
    }
</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
        width: 25%;
        /*border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;*/
    }
</style>

